/* Write your CSS here */
.history-log-container {
  display: flex;
  border-width: 0px 2px 2px 2px;
  border-color: #d7dfe9;
  border-style: solid;
  padding: 5px 20px;
}
.history-log-item {
  width: 30%;
  font-family: Roboto;
  font-size: 15px;
  color: #7e858e;
}
.history-delete-button {
  border: none;
  background-color: transparent;
  width: 10%;
  cursor: pointer;
  outline: none;
}
.delete-icon {
  width: 25px;
}
